[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
selenium-wire = "*"
selenium-stealth = "*"
requests = "*"
blinker = "1.7.0"
webdriver_manager = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
